body {
    margin: 0;
    background-color: lightblue;
}

header {
    display: flex;
    margin-top: 5vh;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    font-family: 'Afacad', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.top-section {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

}

.top-section .section-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-one h1 {
    font-family: 'Afacad', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    text-shadow: 1px 1px 1px;
}

.section-one h4 {
    font-family: 'Afacad', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.profiles {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Afacad', sans-serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.profile1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.profile1 img {
    width: 3vw;
    position: absolute;
    top: 27%;
    border-radius: 50%;
}



.quote {
    background-color: whitesmoke;
    color: gray;
    padding: 1rem;
    padding-bottom: 5vh;
    z-index: -1;
    width: 100%;
}

.profile1 .details {
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 1rem;
}

.profile1 .name {
    font-weight: bold;
    margin-top: 3vh;
}



.quote,
.details {
    margin: 0;
}


.profile2 {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile2 .details {
    background-color: purple;
    width: 100%;
    color: white;
    padding: 1rem;
}

.profile2 img {
    width: 5vw;
    position: relative;
    border-radius: 50%;
    top: 50%;
}

.profile2 .name {
    font-weight: bold;
    margin-top: 1vh;
    padding-top: 3vh;
}

.profile3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile3 .quote {
    padding: 1.5rem;
    padding-bottom: 4vh
}

.profile3 .details {
    background-color: turquoise;
    padding: 1.5rem;
    width: 100%;
    color: white;
}

.profile3 img {
    width: 4vw;
    border-radius: 50%;
    position: relative;
    top: 45%;
}

.profile3 .name {
    padding-top: 3vh;
    font-weight: bold;
}